@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.itemLogo {
  list-style-image: url(../images/ulLogo.png); }

.mainMenuFormat {
  background-color: #1f1f27; }
  .mainMenuFormat a:hover {
    color: #f34213 !important; }
  .mainMenuFormat .mainMenuFormat__selected {
    border-bottom: 2px solid #f34213; }
    .mainMenuFormat .mainMenuFormat__selected a {
      color: #f34213 !important; }

.dropdownMenuStyle {
  background-color: #212529 !important; }
  .dropdownMenuStyle a:hover {
    background-color: #2e2e3a;
    color: white; }
  .dropdownMenuStyle .dropdownMenuStyle__list a:link {
    color: #9b9d9e !important; }
  .dropdownMenuStyle .dropdownMenuStyle__list a:visited {
    color: #9b9d9e !important; }
  .dropdownMenuStyle .dropdownMenuStyle__list a:hover {
    background-color: #f34213 !important;
    color: white !important; }

.mainTitle {
  font-size: 28px;
  color: #f34213;
  font-family: Audiowide, sans-serif;
  display: block;
  line-height: 3;
  text-align: center; }

.featuredTitle {
  font-size: 3vh;
  color: #f34213;
  font-family: Audiowide, sans-serif;
  line-height: 3; }

.sectionIndexTitle {
  font-size: 3vh;
  color: #f34213;
  background: linear-gradient(to bottom, transparent, #1f1f27);
  border-bottom: 2px solid #f34213;
  font-family: Audiowide, sans-serif;
  line-height: 2;
  margin: 2rem 0rem 2rem 0rem; }

.goTop {
  position: fixed;
  right: 2vh;
  bottom: 2vh; }

.borderBox {
  color: #de9151;
  border: solid 5px;
  border-color: #f34213;
  border-radius: 2px;
  border-style: groove;
  width: max-content;
  padding: 15px;
  background-color: #2b2b34; }

.serviceBorderBox {
  border: solid 2px #f34213;
  width: 500px;
  height: 600px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #2b2b34; }

.flexColumn {
  display: flex;
  flex-direction: column; }

.footerFontStyle {
  color: #f34213;
  font-family: Audiowide, sans-serif;
  font-size: 120%;
  text-align: center; }

.footerListStyle {
  list-style-type: none; }

.sectionCarousel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: solid #f34213 2px; }

.articleText {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem auto;
  font-size: 1.5rem;
  width: 95%; }
  .articleText .articleText__content {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    border-left: 0.2rem solid #f34213; }
    .articleText .articleText__content img {
      margin-left: 1.5rem; }
    .articleText .articleText__content p {
      margin: 1rem;
      font-family: Roboto, sans-serif; }

.newGamesAndOffers {
  display: flex;
  flex-direction: row;
  margin: 2rem 2rem;
  padding: 2rem 2rem;
  background-color: #292931; }
  .newGamesAndOffers .newGamesAndOffers__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    border-right: 3px solid #f34213;
    color: #f34213;
    font-family: Audiowide, sans-serif;
    width: 20%; }
    .newGamesAndOffers .newGamesAndOffers__text .newGamesAndOffers__text--line1 {
      font-size: 2.5rem; }
    .newGamesAndOffers .newGamesAndOffers__text .newGamesAndOffers__text--line2 {
      font-size: 1rem;
      font-family: Roboto, sans-serif; }
  .newGamesAndOffers .newGamesAndOffers__content .newGamesAndOffers__content--badge {
    position: absolute;
    top: -0.5rem;
    right: 0rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 2px solid #f34213;
    border-radius: 1rem;
    background-color: #2e2e3a; }
  .newGamesAndOffers .newGamesAndOffers__content .newGamesAndOffers__content--gameTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #f34213;
    font-family: Roboto, sans-serif;
    padding: 1rem 0rem 0rem 0rem; }
  .newGamesAndOffers .newGamesAndOffers__content .newGamesAndOffers__content--gameTitle2 {
    text-align: center;
    color: #de9151;
    font-family: Roboto, sans-serif;
    font-weight: bold; }

.switchOledSection {
  display: flex;
  flex-direction: column;
  background-color: #1f1f27;
  margin: 1rem 0rem;
  padding: 1rem 0rem 3rem 0rem; }
  .switchOledSection h1 {
    font-size: 3rem;
    color: #f34213;
    font-family: Audiowide, sans-serif;
    line-height: 2; }
  .switchOledSection .switchOledSection__content {
    display: flex;
    flex-direction: row; }
    .switchOledSection .switchOledSection__content img {
      margin: 2rem 4rem 0rem 4rem; }
    .switchOledSection .switchOledSection__content .switchOledSection__content--specs {
      border-left: 3px solid #f34213;
      text-align: left;
      padding: 3rem;
      font-size: 3rem; }
      .switchOledSection .switchOledSection__content .switchOledSection__content--specs span {
        color: #bc5d2e;
        font-size: 2rem; }
      .switchOledSection .switchOledSection__content .switchOledSection__content--specs a:link {
        transition: color 0.3s, background-color 0.3s, font-size 0.3s;
        font-size: 2.8rem;
        color: #f34213;
        background-color: #2e2e3a;
        border-radius: 0.3rem;
        margin: 1rem;
        padding: 1rem;
        text-decoration: none;
        text-align: left; }
      .switchOledSection .switchOledSection__content .switchOledSection__content--specs a:hover {
        color: #1f1f27;
        background-color: #f34213;
        font-size: 3rem; }
      .switchOledSection .switchOledSection__content .switchOledSection__content--specs a:active {
        color: black;
        background-color: white; }

.technicalSupport {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .technicalSupport h2 {
    font-size: 2rem; }
  .technicalSupport .technicalSupport__box {
    display: flex;
    flex-direction: column;
    border: solid 2px #f34213;
    width: 30%;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #2b2b34;
    align-items: center; }
    .technicalSupport .technicalSupport__box .technicalSupport__box--form {
      display: flex;
      justify-content: center;
      margin: 1rem 0rem; }

.buildPC {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .buildPC .buildPC__instructions {
    color: #de9151;
    width: 30%;
    height: max-content;
    padding: 2rem; }
    .buildPC .buildPC__instructions h2 {
      font-size: 24px; }
  .buildPC .buildPC__form {
    color: #de9151;
    padding: 1rem;
    width: 60%; }
    .buildPC .buildPC__form .buildPC__form--box {
      padding-bottom: 2rem; }
      .buildPC .buildPC__form .buildPC__form--box p {
        font-weight: bold;
        color: #f34213;
        font-size: 1.5rem; }
      .buildPC .buildPC__form .buildPC__form--box select {
        width: 300px;
        border: #f34213 solid 2px;
        border-radius: 0.6rem;
        background-color: #2b2b34;
        color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem; }
    .buildPC .buildPC__form .buildPC__form--mail {
      padding-bottom: 2rem; }
      .buildPC .buildPC__form .buildPC__form--mail input {
        width: 300px;
        border: #f34213 solid 2px;
        border-radius: 0.6rem;
        background-color: #2b2b34;
        color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem; }
      .buildPC .buildPC__form .buildPC__form--mail label {
        font-weight: bold;
        color: #f34213;
        font-size: 1.5rem;
        margin-right: 0.3rem;
        display: block; }
      .buildPC .buildPC__form .buildPC__form--mail p {
        font-weight: bold;
        color: #de9151;
        font-size: 1rem;
        display: inline;
        margin-top: 1rem; }

.contactUs {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 2rem auto; }
  .contactUs .contactUs__description {
    text-align: left;
    font-size: 1.1rem;
    width: 30%; }
    .contactUs .contactUs__description h1 {
      font-size: 2rem;
      color: #f34213;
      font-family: Audiowide, sans-serif;
      text-align: left;
      margin-bottom: 2rem; }
    .contactUs .contactUs__description .contactUs_description--subText {
      font-size: 1.8rem;
      color: #de9151;
      text-align: left; }
    .contactUs .contactUs__description .contacUs__description--socialNetworks {
      display: flex;
      flex-direction: column; }
      .contactUs .contactUs__description .contacUs__description--socialNetworks img {
        margin: 0rem 0.5rem; }
      .contactUs .contactUs__description .contacUs__description--socialNetworks a:link {
        transition: color 0.3s;
        color: white;
        text-decoration: none; }
      .contactUs .contactUs__description .contacUs__description--socialNetworks a:visited {
        color: white;
        text-decoration: none; }
      .contactUs .contactUs__description .contacUs__description--socialNetworks a:hover {
        color: #f34213; }
  .contactUs .contactUs__form {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 5rem;
    width: 70%; }
    .contactUs .contactUs__form label {
      color: #f34213; }

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem; }
  .product .product__aside {
    display: flex;
    flex-direction: column;
    color: #de9151;
    padding: 1rem;
    margin: 0rem 1rem 0rem 2rem;
    width: 50%; }
    .product .product__aside h2 {
      font-size: 1.5rem; }
  .product .product__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #de9151;
    padding: 1rem;
    width: auto;
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1.3rem; }
    .product .product__content .product__content--box {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: Roboto, sans-serif;
      margin: 0rem 1rem 0.5rem 1rem; }
      .product .product__content .product__content--box p {
        color: #f34213;
        margin-top: 0.5rem; }
      .product .product__content .product__content--box span {
        color: #de9151; }
    .product .product__content .product__content--badge {
      margin-left: 0.5rem;
      padding: 0.2rem 0.4rem;
      border: 2px solid #f34213;
      border-radius: 0.5rem;
      background-color: #1f1f27; }

.payMethod {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.shipping {
  display: flex;
  flex-direction: row; }

.privacyPolicy {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.termsAndConditions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.warrantyAndReturn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.pageStyle {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .pageStyle .pageStyle__title {
    color: #f34213;
    font-family: Audiowide, sans-serif;
    font-size: 3.5em; }
  .pageStyle .pageStyle__subTitle {
    color: #de9151;
    font-family: Roboto, sans-serif;
    font-size: 2em;
    margin: 0px 20px 0px 20px; }
  .pageStyle .pageStyle__goToIndex {
    color: #bc5d2e;
    font-family: Roboto, sans-serif;
    font-size: 1.5em; }

#gridArea {
  display: grid;
  grid-template-areas: "header" "section" "featuredGames" "switchArea" "OfferGames" "article" "PreOrderGames" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: flex-start; }

.featuredGamesGridArea {
  grid-area: featuredGames; }

.switchGridArea {
  grid-area: switchArea; }

.indexOfferGamesGridArea {
  grid-area: OfferGames; }

.indexPreOrderGamesGridArea {
  grid-area: PreOrderGames; }

article {
  grid-area: article; }

section {
  grid-area: section; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

body {
  font-family: Roboto, sans-serif;
  background-color: #2e2e3a !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth; }

header {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 3; }

footer {
  background-color: #1f1f27;
  display: flex;
  flex-direction: column;
  padding-top: 1rem; }
  footer .footer__newsletter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    footer .footer__newsletter .footer__newsletter--suscribe {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      footer .footer__newsletter .footer__newsletter--suscribe p {
        color: #f34213;
        font-family: Audiowide, sans-serif;
        font-size: 120%;
        text-align: center;
        margin-right: 10px; }
    footer .footer__newsletter .footer__newsletter--socialNetwork {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
  footer .footer__links {
    display: flex;
    flex-direction: row; }
    footer .footer__links div ul {
      list-style-type: none; }
  footer .footer__copyright {
    text-align: center;
    padding: 10px; }
  footer a:link {
    transition: color 0.2s, filter 0.2s;
    color: #bbb8b2;
    text-decoration: none;
    font-family: Roboto, sans-serif; }
  footer a:visited {
    color: #bbb8b2; }
  footer a:hover {
    color: #f34213; }
  footer a:active {
    color: white; }

section {
  text-align: center; }

h1 {
  color: #f34213;
  font-family: Audiowide, sans-serif; }

h2 {
  color: #bc5d2e;
  font-family: Audiowide, sans-serif;
  text-align: center; }

h3 {
  color: #bc5d2e;
  font-family: Audiowide, sans-serif; }

p, ul, ol {
  color: #de9151;
  font-family: Roboto, sans-serif;
  line-height: 1.6; }

a:link {
  color: #bc5d2e;
  text-decoration: none;
  font-family: Roboto, sans-serif; }

a:visited {
  color: #bc5d2e; }

a:hover {
  color: #f34213; }

input {
  padding: 0.2rem; }

img.gameTransition {
  transition: border 0.3s, filter 0.3s;
  border: 5px solid #bbb8b2;
  filter: grayscale(50%); }

img.gameTransition:hover {
  border: #f34213 5px solid;
  filter: grayscale(0%); }

.buttonStyle {
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border: #bc5d2e solid 2px;
  border-radius: 3px;
  background-color: #bc5d2e;
  color: white;
  padding: 0.2rem 0.5rem;
  font-family: Roboto, sans-serif;
  margin: 0rem 0.2rem; }

.buttonStyle:hover {
  background-color: #2e2e3a;
  border: #2e2e3a solid 2px;
  border-radius: 3px;
  color: #f34213; }

.buttonStyle:active {
  border: #1f1f27 solid 2px;
  border-radius: 3px;
  background-color: white;
  color: black; }

.newsletterIcon {
  filter: invert(0%); }

.newsletterIcon:hover {
  filter: invert(75%); }

.SwitchAnimation {
  transition: transform 0.3s;
  transform: scale(1, 1); }

.SwitchAnimation:hover {
  transform: scale(1.1, 1.1); }

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column; }
    footer .footer__newsletter {
      flex-direction: column; }
      footer .footer__newsletter .footer__newsletter--suscribe {
        flex-direction: column; }
        footer .footer__newsletter .footer__newsletter--suscribe div form {
          text-align: center; }
          footer .footer__newsletter .footer__newsletter--suscribe div form input {
            margin: 4px 0px; }
      footer .footer__newsletter .footer__newsletter--socialNetwork {
        padding: 2em; }
    footer .footer__links {
      font-size: 12px;
      width: 90%;
      justify-content: center; }
      footer .footer__links div ul {
        color: #bc5d2e;
        list-style-type: disc; }
        footer .footer__links div ul li {
          padding: 2px 0px 2px 0px; }
    footer .footer__copyright {
      text-align: center;
      padding: 10px; }
  .articleImages img {
    width: 80%;
    height: 80%; }
  .product .product__aside {
    display: none; }
  .product .product__content {
    width: 93%;
    margin: 0px; }
  .technicalSupport {
    flex-direction: column;
    align-items: center; }
    .technicalSupport .technicalSupport__PC {
      width: 90%;
      height: max-content; }
    .technicalSupport .technicalSupport__videoGameConsole {
      width: 90%;
      height: max-content; }
    .technicalSupport .technicalSupport__warranty {
      width: 90%;
      height: max-content; }
  .buildPC .buildPC__instructions {
    display: none; }
  .buildPC .buildPC__form {
    width: 90%; }
    .buildPC .buildPC__form .buildPC__form--components input {
      width: 65%; }
    .buildPC .buildPC__form .buildPC__form--buttons input {
      margin: 0.5rem 0rem; }
  .contactUs .contactUs__description {
    width: 90%;
    text-align: center; }
  .contactUs .contactUs__form {
    padding: 2rem 1rem; }
  .contactUs .contacUs__socialNetworks {
    flex-direction: column; }
    .contactUs .contacUs__socialNetworks h2 {
      font-size: 16px; }
    .contactUs .contacUs__socialNetworks .contacUs__socialNetworks--box {
      margin: 5px 0px; }
  section {
    align-items: center; }
    section .payMethod {
      flex-direction: column;
      width: 85%;
      height: max-content; }
    section .shipping {
      flex-direction: column;
      width: 85%;
      height: max-content; }
    section .privacyPolicy {
      width: 85%;
      height: max-content; }
    section .termsAndConditions {
      width: 85%;
      height: max-content; }
    section .warrantyAndReturn {
      flex-direction: column;
      height: max-content;
      width: 85%;
      margin-bottom: 1em; }
  .pageStyle .pageStyle__title {
    font-size: 1.8em; }
  .pageStyle .pageStyle__subTitle {
    font-size: 1.1em;
    margin: 10px; }
  .pageStyle .pageStyle__goToIndex {
    font-size: 0.8em; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  footer .footer__newsletter .footer__newsletter--suscribe {
    text-align: center; }
    footer .footer__newsletter .footer__newsletter--suscribe input {
      margin-top: 5px; }
  .product .product__aside h2 {
    font-size: 1.5rem; }
  .technicalSupport {
    flex-direction: column;
    align-items: center; }
    .technicalSupport .technicalSupport__PC {
      width: 90%;
      height: max-content; }
    .technicalSupport .technicalSupport__videoGameConsole {
      width: 90%;
      height: max-content; }
    .technicalSupport .technicalSupport__warranty {
      width: 90%;
      height: max-content; }
  .buildPC {
    flex-direction: column;
    align-items: center; }
    .buildPC .buildPC__instructions {
      width: 93%;
      margin: 20px;
      padding: 2em; }
    .buildPC .buildPC__form {
      width: 93%; }
      .buildPC .buildPC__form .buildPC__form--components input {
        width: 50%; }
  .contactUs .contactUs__description {
    width: 90%;
    text-align: center; }
  .contactUs .contactUs__form {
    padding: 2rem 3rem; }
  .contactUs .contacUs__socialNetworks h2 {
    font-size: 19px; }
  section {
    align-items: center; }
    section .payMethod {
      width: 85%;
      height: max-content; }
    section .shipping {
      width: 95%;
      height: max-content;
      align-content: center; }
    section .privacyPolicy {
      width: 85%;
      height: max-content; }
    section .termsAndConditions {
      width: 85%;
      height: max-content; }
    section .warrantyAndReturn {
      width: 85%;
      flex-direction: column;
      margin-bottom: 2em; }
  .pageStyle .pageStyle__title {
    font-size: 3em; }
  .pageStyle .pageStyle__subTitle {
    font-size: 2em;
    margin: 10px; }
  .pageStyle .pageStyle__goToIndex {
    font-size: 1.6em; } }

/*
•Se aplico Media Queries con 3 breakpoints, smartphone (768px), tablet (768px a 1024px), y desktop (1024px o mayor)
•Todos los !important que se usaron en el proyecto, fueron en las clases que modifican el estilo de la navbar de bootstrap, no encontre otra manera de hacerlo
•Los filtros de productos.html no funcionan, solo estan ahi para darle mas estetica a la pagina de productos
•Todos los productos de pre-venta van a contactanos.html, porque no estan en el catologo y despues ese html pueden enviar un mail para reservar el producto
•La seccion de "Noticias" lleva al 404.html aproposito
*/
