#gridArea {
    display: grid;
    grid-template-areas:
        "header"
        "section"
        "featuredGames"
        "switchArea"
        "OfferGames"
        "article"
        "PreOrderGames"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: flex-start;
}

.featuredGamesGridArea {
    grid-area: featuredGames;
}

.switchGridArea {
    grid-area: switchArea;
}

.indexOfferGamesGridArea {
    grid-area: OfferGames;
}

.indexPreOrderGamesGridArea {
    grid-area: PreOrderGames;
}

article {
    grid-area: article;
}

section {
    grid-area: section;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}