img.gameTransition
{
    transition: border filter 0.3s;
    transition: filter 0.3s;
    border: 5px solid $color-4;
    cursor: pointer;
    filter: grayscale(75%);
    
}

img.gameTransition:hover
{
    border: $color-3 5px solid;
    filter: grayscale(0%);
}

img.serviceImageTransition
{
    transition: height 1s, width 1s;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

img.serviceImageTransition:hover
{
    width: 200px;
    height: 200px;
}

