//ORIGINAL PALETTE

$color-1: #de9151;
$color-2: #bc5d2e;
$color-3: #f34213;
$color-4: #bbb8b2;
$color-5: #2e2e3a;
$color-6: #2b2b34;
$color-7: #1f1f27;
$color-8: #292931;
$color-white: white;
$color-black: black;
$color-gray: #9b9d9e;


//BLUE PALETTE
/*
$color-1: #b3d6fc;
$color-2: #4e9ce5;
$color-3: #0078d4;
$color-4: #173b56;
$color-5: #2e2e3a;
$color-6: #2b2b34;
$color-7: #333333;
$color-8: #212121;
$color-white: white;
$color-black: black;
$color-gray: #9b9d9e;
*/

//FONTS
$fontType-1: Audiowide, sans-serif;
$fontType-2: Roboto, sans-serif;

