*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "variables";
@import "class";
@import "grid";
@import "tags";
@import "transform";
@import "mediaQuerieMobile";
@import "mediaQuerieTablet";

/*
•Se aplico Media Queries con 3 breakpoints, smartphone (768px), tablet (768px a 1024px), y desktop (1024px o mayor)
•Todos los !important que se usaron en el proyecto, fueron en las clases que modifican el estilo de la navbar de bootstrap, no encontre otra manera de hacerlo
•
*/