*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "variables";
@import "class";
@import "grid";
@import "tag";
@import "transform";
@import "id";
@import "mediaQuerieMobile";
@import "mediaQuerieTablet";