*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import "variables";
@import "class";
@import "grid";
@import "tag";
@import "transform";
@import "id";
@import "mediaQuerieMobile";
@import "mediaQuerieTablet";

//COSAS A MEJORAR

// respecto a CEO está ok y código también muy bien.
// Por ahí puedas trabajar en futuro para que el carrusel en el mobile se 
//adapte distinto, más grande, mejor para aprovechar esas ofertas. Y las ofertas 
//esas puede ser bueno que sean texto, pero eso ya es un poco más complejo y estás comenzado.